# Auto detect text files and perform LF normalization
* text=auto

My name is santhosh, and i completed my B.tech final year in sastra university.
I completed my major in civil engineering.I did my 10th grade in maharishi international residential school and completed my 
higher secondary in shri vidya giri matriculation higher secondary school in madurai and i currently reside in chennai.
My hobbies are reading books and writing poems.
